@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,
body {
    height: 100%;
    color: #404040;
    background: #ffffff;
    padding-top:50px;
    font: 13px/20px "Montserrat", Tahoma, Verdana, sans-serif;
}
h1 {
  text-align: center;
  padding: 20px;
}
/* Reset default padding and margin */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Style the form container */
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  
  /* Style the form elements */
  .form-container input[id=payee],
  .form-container input[id=currency],
  .form-container input[id=amount],
  .form-container input[id=description],
  .form-container select,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font: 13px/20px "Montserrat", Tahoma, Verdana, sans-serif;
  }
  
  /* Style the submit button */
  .form-container button[type=submit] {
    background-color: #7855FA;
    color: white;
    padding: 5px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font: 13px/20px "Montserrat", Tahoma, Verdana, sans-serif;
  }
  
  /* Change the submit button color on hover */
  .form-container input[type=submit]:hover {
    background-color: #45a049;
  }