<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
<title>Payment System</title>
<script>
    function saveFormData() {
        var formData = {};
        var inputs = document.querySelectorAll("input, select, textarea");
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].type !== "submit") {
                formData[inputs[i].name] = inputs[i].value;
            }        }
        var jsonData = JSON.stringify(formData);

        // Sending JSON data to FastAPI backend using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/process_form_data", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log("Form data sent successfully!");
            }
        };
        xhr.send(jsonData);
    }
</script>
</head>
<body>
    <div id="title"><h1>Mano's Bank Account</h1></div>
    <form class="form-container" onsubmit="return saveFormData()">
        <div>
            <label for="payee">To:</label>
            <input type="text" id="payee" name="payee">
        </div>
        <div>
            <label for="currency">Currency:</label>
            <select id="currency" name="currency">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
            </select>
        </div>
        <div>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" step="0.01" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" cols="50"></textarea>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>